@model             TwitterConfiguration

@{
    ViewData["Title"] = "Редактиране";
}

<h1>Редактиране</h1>

<h4>Twitter конфигурация</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApiKey" class="control-label"></label>
                <input asp-for="ApiKey" class="form-control" />
                <span asp-validation-for="ApiKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApiSecretKey" class="control-label"></label>
                <input asp-for="ApiSecretKey" class="form-control" />
                <span asp-validation-for="ApiSecretKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccessToken" class="control-label"></label>
                <input asp-for="AccessToken" class="form-control" />
                <span asp-validation-for="AccessToken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccessTokenSecret" class="control-label"></label>
                <input asp-for="AccessTokenSecret" class="form-control" />
                <span asp-validation-for="AccessTokenSecret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
